html {
  /*scroll-behavior: smooth;*/
}
body{
  background-color: #f7f5f0;
}


h1{
  font-weight: bold;
  background: linear-gradient(to right, #005d07, rgb(137, 178, 136) 23.53%, rgb(44, 94, 34) 49.58%, rgb(168, 200, 160) 71.85%, rgb(44, 106, 28));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
  border-radius: 10px;
}

/* cmd boxes */

pre{
  color: gainsboro;
  padding:15px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 1em;
  /*width: -webkit-max-content;*/
  word-break: break-all;
  word-wrap: break-word;
}

.code-command {
  color:rgb(121, 192, 255);
}

.code-option {
  color:gray;
}

.code-argument{
  color:rgb(255, 123, 114);
}

.relevance-progressbar{
  background: linear-gradient(to right, rgb(222,43,64), rgb(245,174,48) 45%, rgb(0,123,77));
}

.progressbar-relevance{
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  border-right: solid black;
  background-color: rgba(25, 135, 84, 0)!important;
}

.list-group{
  border-radius: 1em;
}

.alert ul{
  margin-bottom: 0;
}

.input-group-text{
  border-radius: 1em;
}

.form-control{
  border-radius: 1em;
}

.value_to_use{
  /* max-width: 150px;
  max-height: 100px !important;
  overflow-y: -webkit-paged-x; */
}

span{
  /* word-break: break-all; */
}

.div-command-pre-wrapper{
  word-break: break-all;
  color: gainsboro;
  padding:15px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
}

p{
  word-break: break-word;
}
