body{
  position: relative;
  overflow: auto;
}

table{
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  background-color: white;
}

.hiddenRow {
    padding: 0 !important;
    border: transparent;
}

.alert{
  border-radius: 1em;
  border: none;
}

.alert-danger{
  background: linear-gradient(to top right, #f5c2c7, #f5e2e4);
}

.alert-success{
  background: linear-gradient(to top right, #badbcc, #e5fcf2);
}

.alert-primary{
  background: linear-gradient(to top right, #cfe2ff, #f1f6ff);
}

.alert-secondary{
  background: linear-gradient(to top right, #e2e3e5, #f8f9fa);
}

.alert-relevance{
  /*background: linear-gradient(to right, rgba(246, 79, 79, 0.27), rgba(160, 243, 166, 0.3));*/
  border: solid gray 1px;
}

.table-orange{
  --bs-table-bg: #f9ebd7;
  --bs-table-striped-bg: #ecdbcc;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfd4c2;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e6d8c8;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfd4c2;
}

.title-tr {
  box-shadow: none !important;
}

.blur-backg {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.toast {
  background-color: rgba(255,255,255,.5);
  border: none;
  border-radius: 1em;
}

.toast-header {
  border-radius: 1em;
}

pre code{
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  font-size: small;
}
